@import 'variables.less';
@import 'fonts.less';

/* Page layout */

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: @fonts;
	font-weight: @light;
	font-size: 95%;
	color: @text;
	background: @primary;
}

.main-column {
	padding: 0.25em 2em;
	margin: 0 auto;
	max-width: 1450px;
}

a {
	color: @blue-links;
	text-decoration: none;
}

strong,
b {
	font-weight: @bold;
}

#site-navigation h3,
.mw-body h1,
.mw-body h2,
.mw-body h3,
.mw-body h4,
.mw-body h5,
.mw-body h6 {
	font-weight: @light;
	margin-top: 2em;
}

#site-navigation h3,
.mw-body h1,
.mw-body h2,
.mw-body h3 {
	border-bottom: solid @borders @grey1;
	padding-bottom: 0;
	overflow: hidden;
}

.mw-editsection {
	font-weight: @light;
}

#mw-header,
#mw-footer {
	background: @primary;
	color: @header-text;

	a {
		color: @header-text;
		text-decoration: none;
	}

	.main-column {
		position: relative;
	}

	h1,
	h3 {
		font-weight: @light;
	}
}

#mw-header {
	border-bottom: solid @borders @secondary;
}

#mw-footer {
	border-top: solid @borders @secondary;
	font-size: 90%;

	a {
		// Change this one because we actually have other text here
		color: @header-link;
	}
}

#p-personal,
#p-global-links {
	.nav-list();

	li {
		line-height: 1.125em;
		display: inline-block;
	}
}

#p-global-links {
	// .dropdown();

	h3 {
		margin: 0.125em 0 0;
		display: inline-block;
		font-size: 1.5em;
	}

	img {
		margin-bottom: -0.25em;
	}

	ul {
		padding: 0;
		margin: 0.65em 0 0.5em;
	}

	li {
		margin-right: 1.75em;
		font-weight: @light;
	}
}

#p-logo {
	margin: 0.75em 0;

	.mw-wiki-logo {
		float: left;
		display: block;
		content: '';
		width: 3.5em;
		height: 3.5em;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		margin-top: -.5em;
	}
}

#p-banner {
	img,
	h1 {
		margin: 0.125em 0 0 0.25em;
		display: inline-block;
		font-size: 2.25em;
		font-weight: @light;
	}
}

#p-personal {
	position: relative;
	z-index: 100;
	float: right;
	font-size: 90%;

	li {
		margin-left: 0.75em;
		white-space: nowrap;
	}
}

#mw-content-header,
#mw-content {
	background: @background;
}

#p-search {
	float: right;
	clear: right;
	margin-top: 0.75em;
}

#catlinks,
#mw-content-header,
#site-navigation,
#page-tools {
	a {
		color: @grey2;
	}
}

// sidebar
#site-navigation {
	font-size: 90%;

	.nav-list();

	h3 {
		padding-top: @borders;
		padding-bottom: 0.25em;
		border-color: @secondary;
		margin: 1em 0 0.5em;
	}

	#mw-sidebar div:first-child h3 {
		margin-top: 0.125em;
	}

	li {
		border-bottom: solid 1px @grey1;
		padding: 0.5em 0 0.25em;
	}

	.mw-portlet {
		margin-bottom: 3em;
	}
}

#siteNotice {
	text-align: center;
	border-bottom: solid 2px @grey1;
	margin: 0 5em 2em;

	p {
		margin: 0.5em 0;
	}
}

h1.firstHeading {
	overflow: visible;
	margin-top: 1em;
}

#page-tools {
	border-bottom: solid @borders @primary;
	font-size: 90%;

	.nav-list();

	.mw-portlet {
		display: inline-block;
	}

	#p-namespaces,
	#p-views {
		li {
			display: inline-block;
			padding: 0.3em 1em 0.25em;
			margin-right: 0.5em;

			&.selected {
				background: @primary;
				border-top: solid @borders @secondary;

				a {
					color: @header-text;
					font-weight: @bold;
				}
			}
		}
	}

	#p-views,
	#p-actions {
		float: right;
	}

	.tool-dropdown {
		.dropdown();

		h3 {
			font-weight: @light;
			// Line up to cactions with extra 2px border
			margin: 2px 0 0;
			font-size: 100%;
			padding: 0.3em 1em 0.25em;
		}
	}
}

.mw-indicators {
	float: right;
	margin-top: 0.5em;
}

.mw-body-content {
	line-height: 1.5;
}

.mw-empty-elt {
	display: none;
}

#siteSub {
	margin-top: -.5em;
	font-size: 90%;
}

/* @noflip */
.tright {
	margin: 0 0 0.5em 0.5em;
	padding: 0 0 1em 1.5em;
}

/* @noflip */
.tleft {
	margin: 0 0.5em 0.5em 0;
	padding: 0 1.5em 1em 0;

}

.thumbimage {
	border: solid 1px @grey1;
}

.thumbcaption {
	font-size: 95%;
	padding: 0.5em 0;
	border-bottom: solid @borders @grey1;
}

/* Tables of contents */
ul#filetoc,
#toc,
.toc,
.mw-warning {
	display: inline-block;
	padding: 1.25em 0;
	margin: 1em 0;
	font-size: 90%;

}

ul#filetoc {
	display: block;
	border: 0;
}

#toc ul,
.toc ul {
	list-style: none;
}

#mw-content .toc h2 {
	font-size: 1.2em;
	margin: 0;
	display: inline-block;
}

#toc li:last-child {
	margin-bottom: 0.5em;
}

.toclevel-1 {
	margin-bottom: 0.25em;
}

.tocnumber {
	color: @grey2;
}

.toctoggle {
	margin-top: 0.25em;
	display: block;
	float: right;
}

#catlinks {
	margin: 3em 0 1em;
	padding-top: 1em;
	border-top: solid @borders @grey1;
	font-size: 90%;
}

#footer {
	.nav-list;
	text-align: center;

	li {
		display: inline-block;
		margin: 0.5em;
	}
}

#footer-poweredbyico {
	float: right;
}

#footer-copyrightico {
	float: left;
}

#mw-navigation h2,
#p-search h3,
#p-namespaces h3,
#p-views h3,
#p-personal h3 {
	.hidden;
}
