@import 'variables.less';

#site-navigation {
	.mw-portlet {
		.dropdown();
		margin: 0 2em 1em 0;

		&:hover .mw-portlet-body {
			left: 0;
		}
	}

	#mw-sidebar,
	.mw-portlet {
		display: inline-block;
	}

	h3 {
		margin: 0;
		border-bottom: none;
	}
}
